include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dashboard_charts *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dashboard_charts/migration *.ini *.py *.mako
